.bg_main {
  background-image: url("https://img.freepik.com/free-photo/silhouettes-hills-street-lamps-cloudy-sky-during-beautiful-sunset_181624-28611.jpg?w=1380&t=st=1688511866~exp=1688512466~hmac=4a7a214405a70bd2965d2ee5787db518a3759550546455166902c6ee7f5ac2d4");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
